<div class="container">
    <div class="jumbotron text-center bg text-black">
    <h1 class="display-4" id="app-title">Eat-Da-Burger!</h1>
    <img id= "burgerImg" src="/assets/img/burger.jpg" height="350" width="350">
        <p class="lead">Come get ya Burger at Eat-Da-Burger! Home of the Whatever-You-Want Burger Joint!</p>
</div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card border border">
            <div class="card-header bg-success text-black">
                Pick your burger!
            </div>
            {{!-- Create/add burger form --}}
            <div class="card-body">
                <form class="create-update-form" action="/create" method="POST">
                    <div class="form-group">
                        <label for="burger">Place your order:</label>
                        <input type="text" class="form-control" name="burger_name" id="toGoBurger" placeholder="Write order here">
                    </div>
                    <button class="btn btn-success" type="submit">Place order</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- non-devoured burgers and devoured burgers --}}
<div class="row mt-4">
    <div class="col-md-6 mt-4">
        <div class="card border border-secondary">
            <div class="card-header bg-success text-black">
                Burgers
            </div>
            {{!-- burger entries --}}
            <div class="card-body">
                {{#each burgers}}
                {{#unless this.devoured}}
                <p>{{this.burger_name}}</p>
                <form action="/update/{{this.id}}" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="hidden" name="devoured" value='1'>
                <button class="btn btn-success" type="submit">Devour!</button>
                </form>
                <br>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="card border border-secondary devoured-card">
            <div class="card-header bg-success text-black" id="devoured-card-header">Devoured Burgers</div>
            {{!-- Card for the devoured burgers --}}
            <div class="card-body">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="devourBurger">
                    <p>
                        {{this.burger_name}}
                    </p>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>




